# Import TLC Data
Example code to download and import the TLC data from the [TLC Trip Record Data](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page) website into a postgres database.

NOTE: Trip data is available in `.parquet` and `.csv` format. This notebook has examples for both.

In [12]:
from time import time

import pandas as pd
import pyarrow.parquet as pq
from loguru import logger
from sqlalchemy import create_engine

In [13]:
# Create a connection to the database
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

### Load Yellow Taxi Trip Data (`.parquet`)

In [14]:
!curl -L https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet -o yellow_tripdata_2021-01.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.6M  100 20.6M    0     0  8064k      0  0:00:02  0:00:02 --:--:-- 8061k

In [15]:
file_name = "yellow_tripdata_2021-01.parquet"
file = pq.ParquetFile(file_name)
# Read first 10 rows to get schema
df = next(file.iter_batches(batch_size=10)).to_pandas()
df_iter = file.iter_batches(batch_size=100000)

### Load Yellow Taxi Trip Data (`.csv`)
Code to download CSV files, uncomment to use.

In [16]:
# !curl -L https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz -o yellow_tripdata_2021-01.csv.gz

In [17]:
# # Read first 10 rows to get schema
# file_name = "yellow_tripdata_2021-01.csv.gz"
# df = pd.read_csv(file_name, nrows=10)
# # CSV reading does not convert to datetime automatically
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
# df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)

### Load taxi trip data to postgres

In [18]:
# show the schema
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [19]:
# Create the table in the database
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

# Insert values
t_start = time()
count = 0

for batch in df_iter:
    count += 1

    if ".parquet" in file_name:
        batch_df = batch.to_pandas()
    else:
        batch_df = batch
        # CSV reading does not convert to datetime automatically
        batch_df.tpep_pickup_datetime = pd.to_datetime(batch_df.tpep_pickup_datetime)
        batch_df.tpep_dropoff_datetime = pd.to_datetime(batch_df.tpep_dropoff_datetime)

    logger.info(f"Inserting batch {count}...")
    b_start = time()
    batch_df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    b_end = time()
    logger.info(f"Inserted! time taken {b_end-b_start:10.3f} seconds.\n")

t_end = time()
print(
    f"Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches."
)

2024-04-25 09:38:32.515 | INFO     | __main__:<module>:19 - Inserting batch 1...
2024-04-25 09:38:44.128 | INFO     | __main__:<module>:23 - Inserted! time taken     11.612 seconds.

2024-04-25 09:38:44.144 | INFO     | __main__:<module>:19 - Inserting batch 2...
2024-04-25 09:38:55.418 | INFO     | __main__:<module>:23 - Inserted! time taken     11.274 seconds.

2024-04-25 09:38:55.427 | INFO     | __main__:<module>:19 - Inserting batch 3...
2024-04-25 09:39:06.853 | INFO     | __main__:<module>:23 - Inserted! time taken     11.424 seconds.

2024-04-25 09:39:06.864 | INFO     | __main__:<module>:19 - Inserting batch 4...
2024-04-25 09:39:18.189 | INFO     | __main__:<module>:23 - Inserted! time taken     11.325 seconds.

2024-04-25 09:39:18.202 | INFO     | __main__:<module>:19 - Inserting batch 5...
2024-04-25 09:39:30.014 | INFO     | __main__:<module>:23 - Inserted! time taken     11.812 seconds.

2024-04-25 09:39:30.027 | INFO     | __main__:<module>:19 - Inserting batch 6...
2024-04-25 09:39:40.993 | INFO     | __main__:<module>:23 - Inserted! time taken     10.965 seconds.

2024-04-25 09:39:41.007 | INFO     | __main__:<module>:19 - Inserting batch 7...
2024-04-25 09:39:52.042 | INFO     | __main__:<module>:23 - Inserted! time taken     11.034 seconds.

2024-04-25 09:39:52.054 | INFO     | __main__:<module>:19 - Inserting batch 8...
2024-04-25 09:40:03.261 | INFO     | __main__:<module>:23 - Inserted! time taken     11.206 seconds.

2024-04-25 09:40:03.271 | INFO     | __main__:<module>:19 - Inserting batch 9...
2024-04-25 09:40:14.633 | INFO     | __main__:<module>:23 - Inserted! time taken     11.361 seconds.

2024-04-25 09:40:14.644 | INFO     | __main__:<module>:19 - Inserting batch 10...
2024-04-25 09:40:25.553 | INFO     | __main__:<module>:23 - Inserted! time taken     10.908 seconds.

2024-04-25 09:40:25.564 | INFO     | __main__:<module>:19 - Inserting batch 11...
2024-04-25 09:40:36.639 | INFO     | __main__:<module>:23 - Inserted! time taken     11.074 seconds.

2024-04-25 09:40:36.649 | INFO     | __main__:<module>:19 - Inserting batch 12...
2024-04-25 09:40:47.562 | INFO     | __main__:<module>:23 - Inserted! time taken     10.912 seconds.

2024-04-25 09:40:47.573 | INFO     | __main__:<module>:19 - Inserting batch 13...
2024-04-25 09:40:59.137 | INFO     | __main__:<module>:23 - Inserted! time taken     11.563 seconds.

2024-04-25 09:40:59.142 | INFO     | __main__:<module>:19 - Inserting batch 14...
2024-04-25 09:41:06.680 | INFO     | __main__:<module>:23 - Inserted! time taken      7.538 seconds.

Completed! Total time taken was    154.197 seconds for 14 batches.

### Taxi Zone Lookup Table

In [20]:
!curl -L https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv -o taxi_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12331  100 12331    0     0  43056      0 --:--:-- --:--:-- --:--:-- 43115

In [21]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [22]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [23]:
# show the schema
print(pd.io.sql.get_schema(df_zones, name="zones"))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [24]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265